tr
  td
    table.body_table(width='600', border='0', cellspacing='0', cellpadding='0', align='center', style='background-color: #efefef;margin-top: 15px;text-align: center;')
      tbody
        tr(style='margin-top: 40px;')
          td.ft_header(height='25')
            b #{website.email_name}
            .innghieng(style='font-size: 14px;')
              i
                | Singapore Incorporation - Banking support - Accounting and Taxation - Virtual office 
        tr
          td.em_h20(height='25', style='font-size:0px; line-height:0px; height:25px;')  
        tr
          td.ft_address
            p
              | 68 CIRCULAR ROAD #02-01 SINGAPORE (049422)
    table.contact-footer(width='550', border='0', cellspacing='0', cellpadding='0', align='center')
      tbody(align='center')
        tr
          td.ft_img1
            img(src='https://bbcincorp.com/images/email/Phone.png', alt='', title='', align='center')
            a(href='#', style='text-decoration:none; ')
              span(style=' color:#808080;margin-left: -2px;') (+65) 3138 1666
          td.ft_img2
            img(src='https://bbcincorp.com/images/email/Mail.png', alt='', title='', align='center')
            a(href="mailto:service@bbcincorp.com" target="_blank")
              span(style=' color:#808080;margin-left: -2px;') service@bbcincorp.com