tr
  td(valign='top', align='center')
    table(width='100%', cellspacing='0', cellpadding='0', border='0', align='center')
      tbody
        tr
          td(align='center')
            img.full(style='display:block; font-family:Arial, sans-serif; max-width:600px; width: 181px;', border='0', src='https://bbcincorp.com/images/email/Logo.png', alt='', title='')
tr
  td
    table
      tbody
        tr
          td(valign='top', align='center')
            img.em_img(style='display:block; font-family:Arial, sans-serif; max-width:602px;', src='https://bbcincorp.com/images/email/Line.png', border='0')